body{
    margin: 0%;
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    background-color: Transparent;
    color: white;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btnimg{
    height: 20px;
    width: 20px;
}

.top{
  width: 100%;
  height: 10%;
  background-color: #2B2B2B;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  z-index: 4;
  box-shadow: 0px 2px  20px black;

}
.heading{
    color:white;
    font-weight: bold;
    font-size: 3rem;
    width: fit-content;
    margin: auto;
}






.contents{
    width: 100%;
    height: 50%;
    background-color: white;
    height: 34rem;
    
}
.nowplaying{
    background: linear-gradient(to bottom left,#6C0BA1 0%,#B0091A 100%);
    width: 25%;
    height: 100%;
    float:left;
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px  20px black;
    
}
.big{
    padding-top: 40px;
    width: fit-content;
    margin: auto;
    padding: 20px;
}
.heading-big{
    width: fit-content;
    margin: auto;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}
ul{
    margin: 0px;
    padding: 0px;
}
.button-big{
    margin: auto;
    display: inline;
    padding: 5px;
    
}
.songname-big{
    width: fit-content;
    margin: auto;
    padding: 10px;
    color: white;
}
.thumbnail-big{
    width: 240px;
    height: 240px;
    border-radius: 5px;
    margin: auto;
}

.behind{
    height: 100%;
}
.lists{
  width: 55%;
  background: linear-gradient(to bottom ,black 0%,#2b2b2b 100%);
  float:left;
  height: 100%;
  color: white;
}
.search[type=text] {
    padding: 5px;
    margin: 10px;
    background-color: white;
    color: black;
    border-style: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color:black;
  border-width: 7px;
  border-radius: 15px;
  }
  .searchbutton{
    background-color: white;
    color: black;
    border-style: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color:black;
  border-width: 7px;
  border-radius: 15px;
  }
  .songs{
    height: 80%; 
    overflow-y: scroll;
    
  }
  .item{
      padding: 15px;
      background-color: #2B2B2B;
      margin-top: 5px;
      color: white;
  }
  .thumbnail-small{
      width:20px;
      height:20px;
  }
  .songname{
      width: fit-content;
      padding: 5px;
      margin-left: 20px;
  }
  .songoptions{
    float: right;
  }
  .artist{
    width: fit-content;
    padding-right: 10px;
    float: right;
  }
  .date{
    width: fit-content;
    padding-right: 10px;
    float: right;
  }
  
  
  .sort{
      padding:20px;
      padding-top: 0px;
  }
  .orderby{
      float:left;
      margin-left: 20px;
      padding:5px;
  }

  .useroptions{
      width: 20%;
      float:left;
      background: linear-gradient(to bottom left,#6C0BA1 0%,#B0091A 100%);
      display: grid;
      height: 100%;
      position: relative;
      z-index: 1;
      box-shadow: 2px 2px  20px black;
      color:white;
  }
  .userlogo{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 20px;
  }
  .username{
      margin-top: -36%;
      padding-left: 40px;
  }
  .userbuttons{
      list-style: none;
      padding: 5px;
      padding-left: 20px;
      width: 50%;
  }


  #overlay{
      width: 100%;
      height: 100%;
      background-color:black;
      opacity: 1;
      position: relative;
      top: -100%;
      position: relative;
      z-index: 3;
  }

.beats{
    height: 100%;
    width: 33.3%;
    background-color: black;
    color: grey;
}
.beats-content{
    position: relative;
    top: 200px;

}
.beats-value{
    font-size: 4rem;
}
.showsong{
      height: 100%;
      width: 33.3%;
      position: relative;
      top: -100%;
      left: 33.3%;
      background: linear-gradient(to bottom left,#6C0BA1 0%,#B0091A 100%);
      border-radius: 15px;
}
.suggestions{
    height: 100%;
      width: 33.4%;
      position: relative;
      top: -200%;
      left: 66.6%;
      background-color:black;
      color: grey;
}
.suggestions-content{
    position: relative;
    top: 200px;
    margin-left: 0px;

}
.suggestions-value{
    font-size: 1rem;
}
.songname-overlay{
   margin-top: 30px;
   padding-bottom: 20px;
   font-size: 3rem;
   display: inline-block;
   color: white;
}
.thumbnail-overlay{
   margin-top: 30px;
   width: 300px;
   height: 300px;
   border-radius: 10px;
   margin: auto;
}
  .tail{
      width: 100%;
      background-color: #2B2B2B;
      float: left;
      height: 6rem;
      position: relative;
      z-index: 4;
      box-shadow: 0px -1px  20px black;
  }
  .player{
      width: 30%;
      height: 100%;
      margin: auto;
      
  }
  .playeroptions{
      padding-top: 7%;
      opacity: 0.8;

  }
  .playerbtn{
      list-style: none;
      display: inline;
  }
  .playerbtnimg{
      height: 40px;
      width: 40px;
  }